
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>五福商城</title>
</head>
<body>
    <h2>(｡･∀･)ﾉﾞ嗨，I'am Wof</h2>
</body>
</html>
