@{
    ViewBag.Title = "五福商城开放平台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-black text-white text-center" style="padding:18rem 0;">
    <img src="~/Content/Images/logo.png" style="width:9rem;" />
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>五福商城微信平台</h1>
    <h3>授权我们管理您的公众号的部分功能，如发送通知消息等 <br />version:@(TempData["WeixinVersion"])</h3>
</div>