
@{
    ViewBag.Title = "APP下载";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pagewarp">
    <div class="top">
        <img src="~/Contents/Imgs/logo_white.png" />
        <h1>五福天下商城</h1>
        <p>移动客户端下载</p>
    </div>
    <div class="btnwarp">
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.lq319.shop" role="button" class="btn btn-lg btn-block btn-warning"><i class="fa fa-android" aria-hidden="true"></i> Android 下载</a>
        <a href="https://itunes.apple.com/us/app/%E4%BA%94%E7%A6%8F%E5%95%86%E5%9F%8E/id1284486743?l=zh&ls=1&mt=8" role="button" class="btn btn-lg btn-block btn-danger"><i class="fa fa-apple" aria-hidden="true"></i> IOS 下载</a>
    </div>
    <div class="copyr">
        Copy right 2018 江苏悟行电子商务有限公司
    </div>
</div>

